// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

html {
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
a,
button,
input,
label, 
span, 
li {
    font-family: 'Lato', sans-serif;
}

.shopping-cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-cart {
    width: 1100px;
    margin: 3rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin-bottom: 1.75rem;
}

.card {
    max-width: 100%;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
    border: transparent;
}

@media (max-width: 767px) {
    .card {
        margin: 3vh auto;
    }
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

@media (max-width: 767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}

.summary {
    background-color: #a1cdd2;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 4vh 5vh;
    color: rgb(65, 65, 65);
}

@media (max-width: 767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
    }
}
.summary .col-2 {
    padding: 0;
}
.summary .col-10 {
    padding: 0;
}
.row {
    margin: 0;
}
.title b {
    font-size: 1.5rem;
}

.items-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
}

.quantite-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.quantite-container .quantite-number {
    border: 1px solid rgb(204, 204, 204);
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
}

.prix-container {
    display: flex;
    align-items: center;
}

.col-2,
.col {
    padding: 0 1vh;
}

a {
    padding: 0 1vh;
}

.close {
    margin-left: auto;
    font-size: 0.7rem;
}

h5 {
    margin-top: 4vh;
}

hr {
    margin-bottom: 1rem;
}

.produit-prix {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.summary form {
    box-sizing: inherit;
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    gap: 1rem;
    margin: 3rem 0;
}

.summary form p {
    margin-bottom: 0.5rem;
}

.summary form .form-select {
    background-color: white;
}

.summary form .form-select:focus,
.form-select:active {
    box-shadow: 0 0 0 0.2rem rgb(58, 136, 145, 0.35);
    border-color: #0e5e6f;
}

.summary form .form-control {
    background-color: white;
}

.summary form .form-control:focus,
.form-control:active {
    box-shadow: 0 0 0 0.2rem rgb(58, 136, 145, 0.35);
    border-color: #0e5e6f;
}


input:focus::-webkit-input-placeholder {
    color: transparent;
}

.summary .btn {
    padding: 0rem 2.25rem;
    height: 45px;
    width: 100%;
    background-color: #3a8891;
    color: white;
    font-weight: bold;
    border-left: none;
    font-size: 0.9rem;
}

.summary .btn:hover {
    background-color: #3a8891;
    color: white;
}

.summary .btn:active,
.summary .btn:focus {
    background-color: #0e5e6f !important;
    color: white !important;
    box-shadow: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

#code {
    background-image: linear-gradient(
            to left,
            rgba(255, 255, 255, 0.253),
            rgba(255, 255, 255, 0.185)
        ),
        url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}
